In [1]:


import pymongo
import pandas as pd

In [5]:


df = pd.read_csv("data.csv")
df.head(5)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [6]:


# Data should be in dictionary format to send data in mongodb database:
data = df.to_dict(orient='records')

In [7]:


# ===== Establish the connection =====
from src.constants import CONFIG
DB_NAME = "Vehicle"
COLLECTION_NAME = "Vehicle-Connectn"
CONNECTION_URL = f"mongodb+srv://yasinarafate2021_db_user:{CONFIG.MONGODB_PASSWORD}@cluster0.icwm2qu.mongodb.net/?appName=Cluster0"

clinet = pymongo.MongoClient(CONNECTION_URL)
data_base = clinet[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [8]:


# ==== push the data into mongodb =====
rec = collection.insert_many(data)

In [9]:

# ==== Load data back from mongodb =====
df = pd.DataFrame(list(collection.find()))
df.head(4)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,695a27bf6cf723006defd1ef,32,Male,79,1,28.0,0,1-2 Year,Yes,57444.0,26.0,222,0
1,695a27bf6cf723006defd1f1,34,Female,24,1,36.0,0,< 1 Year,Yes,43129.0,152.0,49,0
2,695a27bf6cf723006defd21a,75,Male,59,1,23.0,0,1-2 Year,No,27865.0,124.0,39,0
3,695a27bf6cf723006defd21d,78,Female,27,1,33.0,1,< 1 Year,No,35512.0,152.0,111,0